<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455252079945-om9tu70k00rm9dmh4ehr3gqd8rj7m3er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455252079945-om9tu70k00rm9dmh4ehr3gqd8rj7m3er</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455252079945-5t38bsb0c2lgcrv4bu1a9v8jc2r294a9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyKeXnK_zGR-58BQxf9kNgNItG9w57m9g</string>
	<key>GCM_SENDER_ID</key>
	<string>455252079945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradelinkedai</string>
	<key>PROJECT_ID</key>
	<string>tradlinkedai</string>
	<key>STORAGE_BUCKET</key>
	<string>tradlinkedai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455252079945:ios:515b94dfc58272aa1f5698</string>
</dict>
</plist>